@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Inria+Serif:wght@400;700&display=swap&family=Glory:wght@400;500;600;700&display=swap');

input{
    border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-block-color: none;
}

.getInput{
    display: flex;
    font-family: 'Glory', sans-serif;
    margin-top: 51px;
}

.input{
    outline: none;
    text-align: start;
    vertical-align: middle;
    padding: 25px 18px;
    font-size: 20px;
    font-weight: 400;
    border: 1px solid #BFBFBF;
    transition: border-color 0.2s ease-in-out;
    border-radius: 10px;
}

.input:focus{
    border-color: #bd0000;
}

.button{
    display: inline-block;
    font-weight: 400;
    font-size: 20px;
    text-align: middle;
    color: #fff;
    vertical-align: middle;
    width: 203px;
    border: 1px solid #BFBFBF;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    background-color: #D10000;
    padding: 25px 12px;
    transition: background-color .2s ease-in-out;
}

.button:hover{
    background-color: #bd0000;
}

.getInput input{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    position: relative;
    z-index: 2;
}

.getInput button{
    position: relative;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
}

