*{
    box-sizing: border-box;
}


.dropdown-boxx{
    width: 246px;
    max-height: 55px;
}

.dropdown__btn{
    position: relative;
    display: flex;
    width: 100%;
    padding: 6px 12px;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #CFCFCF; 
    text-align: center;
    margin-top: 4px;
}

.dropdown__btn span{
    cursor: pointer;
}

.dropdown-content{
    background-color: #fff;
    width: 246px;
    height: 0px;
    overflow: hidden;
    margin-top: 5px;
    border-radius: 4px;
    border: 0px solid #cfcfcf91; 
    transition: all .3s ease;

}

.dropdown-content.dropdown__show{
    position: absolute;
    height: 300px;
    overflow-y: scroll;
    padding: 6px 12px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border: 1px solid #cfcfcf91; 
    transition: all .3s ease;
    background-color: #fff;
    z-index: 3;

}



.dropdown__item{
    cursor: pointer;
    padding: 10px 5px;
    width: 100%;
    transition: all .1s linear;
}

.dropdown__item:hover{
    background-color: #e6e6e6;
    border-radius: 3px;
}

.place-holder{
    color: #7d7d7d;
}

